<!-- Clients Aside -->
    <section id="clients" class="clients">
      <div class="text-center">
          <h2 class="section-heading">Technologies</h2>
          <h3 class="section-subheading text-muted">Here's what I've been working with.</h3>
      </div>
        <div class="container">
            <div class="logo-row">

                    <a href="#">
                        <img src="img/python.png" class="language-logo" alt="">
                    </a>

                    <a href="#">
                        <img src="img/ruby-logo.png" class="language-logo" alt="">
                    </a>

                    <a href="#">
                        <img src="img/Ruby_on_Rails-logo.png" class="language-logo" alt="">
                    </a>

                    <a href="#">
                        <img src="img/javascript-logo.png" class="language-logo" alt="">
                    </a>

                    <a href="#">
                      <img src="img/jquery.png" class="language-logo" alt="">
                    </a>

                    <a href="#">
                        <img src="img/react.png" class="language-logo" alt="">
                    </a>

                    <a href="#">
                        <img src="img/logo.png" class="language-logo" alt="">
                    </a>
                    <a href="#">
                        <img src="img/google-maps.png" class="language-logo" alt="">
                    </a>
                    <a href="#">
                      <img src="img/rspec.png" class="language-logo" alt="">
                    </a>
                    <a href="#">
                      <img src="img/Git_icon.svg_.png" class="language-logo" alt="">
                    </a>
                    <a href="#">
                        <img src="img/sql-logo.png" class="language-logo" alt="">
                    </a>
                    <a href="#">
                        <img src="img/Postgresql_elephant.png" class="language-logo" alt="">
                    </a>

            </div>
        </div>
    </aside>
