 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered portfolio-img" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>
                                    <strong><a href="{{post.livelink}}">Live Link</a>
                                    </strong>
                                </li>
                                <li>
                                    <strong><a href="{{ post.learnmore }}">Learn More</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Meaningful Words</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/meaningful-words.png" class="img-responsive img-centered portfolio-img" alt="img/portfolio/meaningful-words.png">
                        <p>I used the HTML5 File API to handle file manipulation browser-side, then came up with some algorithms to break a file into
                        words and filter out those that don't matter. Finally I used D3 to make a force layout graph with the most-used words in
                        a text. - The radius of a word corresponds to the number of occurrences of that word in the text (relative to the other words)
                        - The color gradient is another visual representation of a word's concentration.</p>
                        <ul class="list-inline item-details">
                            <li>
                                <strong><a href="https://th0r0nd0r.github.io/meaningful-words/">Live Link</a>
                                </strong>
                            </li>
                            <li>
                                <strong><a href="https://github.com/th0r0nd0r/meaningful-words">Learn More</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
